---
import ContentLayout from "../layouts/ContentLayout.astro";
import { sitePath } from "../utils/sitePath";
---

<ContentLayout
  title="Page Not Found"
  eyebrow="404"
  description="That page is not part of the PersonaKit learning site."
>
  <p>Try the home page or the practical fit guide.</p>
  <p>
    <a class="button-link" href={sitePath()}>Home</a>
    <a class="button-link" href={sitePath("when-to-use/")}>When To Use</a>
  </p>
</ContentLayout>
