---
import UseCaseMatrix from "../components/UseCaseMatrix.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import { sitePath } from "../utils/sitePath";
---

<ContentLayout
  title="Use-Case Matrix"
  eyebrow="Fit and alternatives"
  description="A compact matrix of where PersonaKit is strong, where it is borderline, and where another tool is better."
>
  <UseCaseMatrix />

  <p>
    <a class="button-link" href={sitePath("downloads/use-case-matrix.csv")}>Download CSV</a>
  </p>
</ContentLayout>
